div{
    /*border: solid;*/
    display: flex;
}

.wrapper{
    flex-direction: column;    
}

.card{
    flex-direction: row;    
}

.leftcard{
    flex-direction: column;
    justify-content: center;
    width: 100px;
    height: 200px;    
}

.rightcard{
    flex-direction: column;
    background-image: url("back.jpg");
    width: 350px;    
}

.midcard{
    width: 105px;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
    background-image: url("back1.jpg");        
}

.rowcard{
    flex-direction: column;    
}

.photo{
    width: 150px;
    height: 150px;
}

.btnLoad{
    margin: 0 auto;
    display: block;
    width: 80px;
    height: 20px;
}
.lbl{
    font-weight: 800;    
}